.header {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 2fr 1fr ; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.itemsposition {
    grid-column: 2/3;
    height: 50%;
    /* grid-row: 2/5; */
}

.itemposition__search{
    width: 60%;
    margin:0 auto;
}

.itemposition_btn{
    background-color: #00A53C;
    width:50%;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-weight: 700;
}