.resetModalContainer{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);  
    overflow: auto;  
}


#resetModal{
    background:white;
    width: 22vw;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: signUpModal;
    animation-duration: 1s;
}

#resetmodal__content{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.modalcontainer__form{
    max-width: 70%;
}

.modalcontainer__title{
    margin: 20px auto;
}

.container {
    padding: 16px;
  }

.modalcontainer__input{
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 3px;
    background: #f4f4f4;

}

.signUpBtn{
    border:1px solid transparent;
    color:white;
    padding: .375rem .75rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 1rem;
    width:100%;
}

.modalcontainer__submit{
    background: green;
}

.signup_newaccount_container{
    width: 70%;
    margin-top: 8px;
    margin-bottom: 15px;
}

.signup_newaccount{
    background:blue;
}

.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 12px;
    top: 0;
    color: #000;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}



.resetMessage{
    padding:12px;
    background-color: #fffbe6;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #5d3c01;
    font-size: 12px;
    min-width: 50%;
    text-align: center;
    font-weight: 600;
}


@keyframes signUpModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



